@font-face {
  font-family: "lucida_sans_unicoderegular";
  src: url("fonts/l_10646-webfont.woff2") format("woff2"),
    url("fonts/l_10646-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("/fonts/fontawesome-free-5.3.1-web/css/all.css");

body {
  font-family: "lucida_sans_unicoderegular";
  padding: 0;
  margin: 0;
  background-color: #e1fffa;
  letter-spacing: 0.2vw;
  font-size: 1vw;
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 5vw 10vw 5vw 26vw 34vw;
  width: 100vw;
  max-width: 100%;
}

#topHeader {
  grid-column: 1/6;
  grid-row: 1/2;
  background-color: black;
}

#middleHeader {
  display: flex;
  background-color: #c4c4c4;
  grid-column: 1/6;
}

.buttons {
  display: flex;
  align-items: center;
  margin-left: 25%;
  justify-content: space-around;
  width: 100%;
}

.theme {
  width: 10vw;
}

#themeBtn {
  background: #000000;
  mix-blend-mode: normal;
  box-shadow: 0vw 0.26vw 0.26vw rgba(0, 0, 0, 0.5);
  border-radius: 2vw;
  color: #d82f2e;
  cursor: pointer;
  letter-spacing: 0.2vw;
  width: 100%;
  font-size: 1.8vw;
  line-height: 2vw;
  padding: 5%;
}

.toggleMode {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  color: #d82f2e;
  font-size: 3.5vw;
  align-items: center;
}

.fab {
  font-family: "Font Awesome 5 Brands";
  font-size: 1.75vw;
}

#bottomHeader {
  background-color: #d82f2e;
  grid-column: 1/6;
  font-style: italic;
  font-weight: 550;
  letter-spacing: 0.2vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1.5vw;
}

#about {
  font-style: normal;
  font-weight: bold;
  position: absolute;
  right: 1vw;
}
#reviews {
  grid-column: 1/4;
}

#air-canada {
  width: 25%;
  margin-left: 20px;
}

a:visited#aboutButton {
  color: #e1fffa;
  text-decoration: none;
}

a:link#aboutButton {
  color: #e1fffa;
  text-decoration: none;
}

a:hover#aboutButton {
  color: #e1fffa;
  text-decoration: none;
}

a:active#aboutButton {
  color: #e1fffa;
  text-decoration: none;
}

#likeCounter {
  text-align: center;
  border: solid 5px black;
  grid-column: 4/6;
  font-family: "Lucida Sans";
  font-style: normal;
  align-items: center;
}

.heading {
  font-weight: 600;
  font-size: 2vw;
  letter-spacing: 0.2vw;
}

.number {
  margin: auto;
  width: 28vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c4c4c4;
  border: 0.15vw solid #000000;
  box-sizing: border-box;
  box-shadow: 0vw 0.2vw 0.2vw rgba(0, 0, 0, 0.25);
  border-radius: 2.4vw;
  height: 10vw;
  font-family: "Lucida Bright";
  font-size: 6.5vw;
  line-height: 7.7vw;
  letter-spacing: 0.1vw;
  color: #209e1e;
  text-shadow: 0vw 0.2vw 0.2vw rgba(0, 0, 0, 0.25);
}

.counterButtons {
  display: inline-flex;
  width: 27vw;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 2vw;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.fa-thumbs-up,
.fa-thumbs-down {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: normal;
  font-size: 4vw;
  line-height: 4.5vw;
  color: #d82f2e;
  text-shadow: 0vw 0.2vw 0.2vw rgba(0, 0, 0, 0.25);
}

.reset {
  display: inline-flex;
  width: 12vw;
  height: 4.5vw;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 2.3vw;
  line-height: 2.7vw;
  letter-spacing: 0.105em;
  color: #000000;
  background: #d82f2e;
  border: 0.07vw solid #000000;
  box-sizing: border-box;
  box-shadow: 0.3vw 0.3vw 0.2vw rgba(0, 0, 0, 0.25),
    inset 0.5vw 0.7vw 0.2vw rgba(0, 0, 0, 0.25);
  border-radius: 4vw;
}

#feedback {
  grid-column: 4/6;
  border: solid 5px black;
  text-align: center;
}

.csimage {
  margin: auto;
  margin-top: 10%;
}

img.customer-service {
  width: 60%;
  border-top: 1.8vw solid #d82f2e;
  border-bottom: 1.8vw solid #d82f2e;
  border-right: 1vw solid rgba(0, 0, 0, 0.9);
  border-left: 1vw solid rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  box-shadow: 0vw 0.3vw 0.3vw rgba(0, 0, 0, 0.25);
  border-radius: 22px;
}

#questions {
  font-size: 2vw;
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 1vw;
}

#contactUs {
  font-size: 1.5vw;
  line-height: 1vw;
  margin-top: 0%;
}

.contactBtns {
  display: flex;
  justify-content: space-around;
  font-size: 3vw;
  color: #d82f2e;
}

.buttonTitle {
  display: flex;
  justify-content: space-around;
}

#reviews {
  display: flex;
  border: solid 5px black;
  grid-row: 4/6;
  align-items: center;
}

.prev-btn,
.next-btn {
  color: #e5625e;
  font-size: 1.25vw;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5vw;
  transition: all 0.3s linear;
  cursor: pointer;
  margin-left: 3vw;
  margin-right: 3vw;
}
.prev-btn:hover,
.next-btn:hover {
  color: #d82f2e;
}
.random-btn {
  margin-top: 0.5vw;
  background: #e5625e;
  color: #f5dddd;
  padding: 0.25vw 0.5vw;
  text-transform: capitalize;
  border-radius: 1vw;
  transition: all 0.3s linear;
  border-color: black;
  cursor: pointer;
  font-size: 1vw;
}
.random-btn:hover {
  background: black;
  color: #f5dddd;
  border-color: red;
  font-size: 1.1vw;
}
main {
  max-height: 40vw;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.title {
  text-align: center;
  margin-bottom: 3.3vw;
}
.underline {
  height: 0.25vw;
  width: 4vw;
  margin-left: auto;
  margin-right: auto;
}

.review {
  padding: 1.4vw 2vw;
  max-height: 40vw;
  border-radius: var(--radius);
  box-shadow: 0 0.26vw 0.8vw rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  text-align: center;
}
.review:hover {
  box-shadow: 0 0.26vw 0.8vw rgba(0, 0, 0, 0.2);
}

.img-container {
  position: relative;
  width: 7.8vw;
  height: 7.8vw;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.4vw;
}
#person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.img-container::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5vw;
  height: 2.5vw;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: red;
  color: #f5dddd;
}
.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #f5dddd;
  position: absolute;
  top: -0.25vw;
  right: -0.5vw;
  border-radius: 50%;
}
#author {
  margin-bottom: 0.25vw;
  font-size: 1.5vw;
}
#job {
  margin-bottom: 0.5vw;
  text-transform: uppercase;
  color: var(--clr-primary-5);
  font-size: 0.85vw;
}
#info {
  margin-bottom: 0.75vw;
  letter-spacing: 0.1vw;
  font-size: 0.9vw;
}

.container {
  background-color: #0f0f0f;
  color: #f5dddd;
  margin: auto;
  border: 5px solid #e5625e;
  width: 40vw;
  max-height: 40vw;
  border-radius: 2vw;
}
