@font-face {
  font-family: "lucida_sans_unicoderegular";
  src: url("fonts/l_10646-webfont.woff2") format("woff2"),
    url("fonts/l_10646-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "lucida_sans_unicoderegular";
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #2196f3;
  /* padding: 10px; */
  grid-template-rows: 5% 10% 5% 40% 40%;
  margin: -0.4%;
  height: 100vw;
}

#grid-container > div {
  font-size: 30px;
}
#topHeader {
  grid-column: 1/5;
  grid-row: 1/2;
  background-color: black;
  width: 100%;
}
#middleHeader {
  display: flex;
  background-color: #c4c4c4;
  grid-column: 1/5;
  text-align: center;
}
#bottomHeader {
  background-color: #d82f2e;
  width: 100%;
  grid-column: 1/5;
  font-family: "lucida_sans_unicoderegular";
  font-style: italic;
  font-weight: 550;
  letter-spacing: 0.2rem;
  color: white;
}

#slogan {
  text-align: center;
  vertical-align: middle;
}

#item-4 {
  grid-column: 1/5;
}
#item-5 {
  grid-column: 1/5;
}

#air-canada {
  width: 25%;
}
